.about-page-wrapper{
    .skills-section{
        padding-top: 94px;
        height: 100vh;

        .mySwiper{
            position: initial;
        }

        .swiper-button-prev {
            left: -36px;
            color: #138aa9;
            transition: transform 0.5s linear;
            &:after{
                font-weight: bold;
            }
            &:hover{
                color: $primary;
                transform: scale(1.1, 1.1);
            }
        }

        .swiper-button-next{
            right: -36px;
            color: #138aa9;
            transition: transform 0.5s linear;
            &:after{
                font-weight: bold;
            }
            &:hover{
                color: $primary;
                transform: scale(1.1, 1.1);
            }
        }
    }

    .experience-section{
        padding-top: 94px;
        height: 100vh;
        background-color: #f8f8f8;
    }

    .text-gray{
        color: #ababab;
    }

    .work-des-txt{
        color: #88888888;
        max-width: 580px;
    }

    .card-item{
        width: 248px;
        height: 264px;

        // background-color: #323232;
        // color: #9999A1;
        // box-shadow: 0px 15px 120px -35px #1f1f1f;

        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);

        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        
        cursor: pointer;
        .logo-react, .logo-javascript, .logo-typescript, .logo-redux, .logo-html, .logo-css, .logo-jest, .logo-git{
            width: 64px;
            height: 64px;
        }

        &:hover{
            --translateYValue: -15px;
            animation: translateYAnimation 1s ease-in-out forwards;
            .logo-react{
                animation: rotate 2s linear infinite; 
            }
        }
    }

    .we-item{
        width: 100%;
        padding: 20px 70px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover{
            box-shadow: 0 2px 10px #138aa9;
        }

        .w-300{
            width: 300px;
        }

        .item-logo{
            width: 140px;
            .logo-kraken{
                width: 140px;
            }
        }

        .period-txt{
            font-size: 24px;
            font-weight: bold;
        }

        .company-txt{
            font-size: 14px;
            color: #dd584f;
        }

        .position-txt{
            font-size: 22px;
            font-weight: bold;
        }

        .website-link{
            color: $black;
            font-weight: bold;

            &:hover{
                color: #138aa9;
                .icon-arrow{
                    --translateXValue: 6px;
                    animation: translateXAnimation 0.5s linear forwards;
                }
            }

            
        }
    }




}

.shape1-container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;

    .shape1-svg{
        height: 100%;
        fill: #f4f4f6;
    }
}

.shape2-container{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    height: 100%;

    .shape2-svg{
        height: 100%;
        fill: #f4f4f6;
    }
}

.shape32-container{
    position: absolute;
    right: 0;
    top: 100vh;
    z-index: -1;
    height: 100%;

    .shape32-svg{
        height: 100%;
        fill: #48c5ea;
    }
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the distance as needed */
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

@keyframes translateYAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(var(--translateYValue));
    }
}

@keyframes translateXAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--translateXValue));
    }
}