.contact-page-wrapper{
    height: calc(100vh - 94px);
    .hello-text{
        color: #b3a206;
    }

    .description-text{
        font-size: 1,1875rem;
        line-height: 33px;
    }

    .main-image{
        width: 570px;
        height: 570px;
        border-radius: 50%;
        position: relative;
        left: 120px;
        bottom: 40px;

        @media (max-height: 800px) or (max-width: 1480px) {
            width: 470px;
            height: 470px;
        }
    }

    .react-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 0px;
        left: 164px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);
    
        .bg-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: #222;
            border-radius: 15px;
        }
        .react-logo{
            width: 50px;
            height: 50px;
        }
    }

    .js-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 0px;
        left: 566px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);
    
        .bg-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 15px;
        }
        .js-logo{
            width: 70px;
            height: 70px;
            border-radius: 15px;
        }
    }

    .redux-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 428px;
        left: 522px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);
    
        .bg-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: #f7f7f7;
            border-radius: 15px;
        }
        .redux-logo{
            width: 50px;
            height: 50px;
        }
    }

    .sass-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 342px;
        left: 144px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 10px rgba(14,29,44,.15);
    
        .bg-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: #CF649A;
            border-radius: 15px;
        }
        .sass-logo{
            width: 50px;
            height: 50px;
        }
    } 
}

.shape1-container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;

    .shape1-svg{
        height: 100%;
    }
}

.shape2-container{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    height: 100%;

    .shape2-svg{
        height: 100%;
    }
}

.shape3-container{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;

    .shape3-svg{
        height: 100%;
    }
}